<div class="row main-header">
	<div class="top-bar stacked-for-medium">
		<div class="top-bar-left">
			<ul class="menu">
		      	<!-- <li class="menu-text">ZOÖN</li> -->
	        	<li><%= link_to "ZOÖN", root_path %></li>
	        	<li><%= link_to "MODULES", modules_path %></li>
		      	<li><a href="#">WORKFLOWS</a></li>
		      	<li><a href="#">ABOUT</a></li>
			</ul>
	  </div>
	</div>
</div>
