
<div class="row">

	<div class="small-12 large-8 columns">

		<h1>ZOÖN</h1>
		<p>Modelling isn’t always easy, but it could be easier. ZOON reduces the time and effort it takes to find data, create species distribution models, and share them with the world.</p>

		<h2>CREATE</h2>
		<p>
			ZOON is an R package for Species Distribution Modelling* that allows you to develop your analysis as a reproducible workflow composed of 5 types of module (species <strong>occurrence</strong> data, <strong>covariate</strong> data, <strong>pre-processing</strong>, the <strong>model</strong> and the <strong>output</strong>).
		</p>
		<p>
			Modules are bite sized chunks of code that piece together in a whole workflow. In the Zoon R Package there is a huge collection of modules, from country-level presence/absence survey data to key models to run the data through. 
		</p>

		<div class="row">
			<div class="large-6 small-12 columns">
				<a href="modules.html" class="button">EXPLORE THE MODULES</a>
			</div>
			<div class="large-6 small-12 columns">
		    	<input type="text" placeholder="Or look for a specific one">
		    </div>
		</div>
	</div>
</div>
