<div class="expanded row flow-image">
</div>

<div class="row">
	<div class="small-12 large-8 columns">

    <p>Filter by module type</p>
    <ul>
      <% @families.each do |fam| %>
        <li><%= fam.family %></li>
      <% end %>
    </ul>
	</div>
</div>
