@import 'colors';
@import 'settings';

.module-mosaic {
  column-count: 3;
  column-gap: 1rem;

  -moz-column-count: 3;
  -moz-column-gap: 1rem;

  a.module-wrapper {
    page-break-inside: avoid;
    padding-bottom: 1rem;
    display: block;
    font-weight: normal;

    .module {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);

      .module-content {
        padding: 1rem;
        background-color: $zoon-white;

        p.module-title {
          font-size: 1.6rem;
          line-height: 1.8rem;
          word-break: break-space;
          white-space: pre-wrap;
          margin-bottom: 0.25rem;
        }

        .module-version-and-ratings {
          font-size: 0.9rem;
          margin-bottom: 0.25rem;

          $list: covariate, model, occurrence, output, process;
          @each $type in $list {
            &.#{$type} {
              background-image: none;
              color: map-get($zoon-module-colors, $type);
            }
          }

          .module-version {
            margin-right: 1rem;
          }

          .module-rating {
            > span > span {
              margin-right: 0.5rem;
            }
          }
        }

        p.module-description {
          font-size: 0.8rem;
          line-height: 1rem;
          color: scale-color($body-font-color, $lightness: +70%);
          margin-bottom: 0;
        }
      }

      .module-footer {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        line-height: 1rem;
        color: $zoon-white;

        $list: covariate, model, occurrence, output, process;
        @each $type in $list {
          &.#{$type} {
            background-image: none;
            background-color: map-get($zoon-module-colors, $type);
          }
        }
      }
    }

    &:hover {
      text-decoration: none;

      .module-title {
        text-decoration: underline;
      }
    }
  }
}
