@import 'settings';

.button {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  outline: 0;

  &:hover {
    text-decoration: none;
  }

  &.hollow {
    border-width: 2px;
  }
}
