@import 'settings';

html {
  font-size: 19px;
}

body {
  font-family: 'Work Sans', sans-serif;

  &.not-home {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: image-url('flow.png');
      background-repeat: no-repeat;
      background-position: center 80px;
      opacity: 0.05;
      z-index: -1;
    }
  }

  h1 {
    font-size: 4.5rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1rem;
    line-height: 4rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
  }

  h4 {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  h5 {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  a {
    color: $zoon-black;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $zoon-black;
      text-decoration: underline;
    }
  }

  p {
    &.citation {
      font-size: 0.9rem;
      color: scale-color($body-font-color, $lightness: +50%);
    }

    &.faded {
      color: scale-color($body-font-color, $lightness: +40%);
    }
  }

  input {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: scale-color($input-placeholder-color, $lightness: +50%);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: scale-color($input-placeholder-color, $lightness: +50%);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: scale-color($input-placeholder-color, $lightness: +50%);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: scale-color($input-placeholder-color, $lightness: +50%);
    }

    &:focus {
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }
    }
  }

  * {
    $type_list: covariate, model, occurrence, output, process;

    @each $type in $type_list {
      &.module-family-#{$type} {

        &.module-family-color,
        .module-family-color {
          color: map-get($zoon-module-colors, $type);
        }

        &.module-family-background,
        .module-family-background {
          background: image-url('module_#{$type}.png');
          background-size: contain;
        }

        &.module-family-background-color,
        .module-family-background-color {
          background-color: map-get($zoon-module-colors, $type);
        }
      }
    }
  }
}
